Package: com.ps.fullsafari
Name: FullSafari (Fix)
Depends: mobilesubstrate, preferenceloader
Conflicts: com.bensge.fullsafari
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable iPad-like Safari tabs on any device, always.
Maintainer: bensge
Author: bensge
Section: Tweaks
