Package: com.bensge.fullsafari
Name: FullSafari
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable iPad-like Safari tabs on any device, always.
Maintainer: bensge
Author: bensge
Section: Tweaks
