Package: com.bensge.fullsafari
Name: FullSafari
Depends: mobilesubstrate
Version: 1.3.1-2
Architecture: iphoneos-arm
Description: Enable iPad-like Safari tabs on any device, always.
Maintainer: LonestarX
Author: bensge
Section: Tweaks
